/*
blue: #0033a0
green: #00b140;
*/
/*--------------------*/
/*GLOBAL PART*/
/*--------------------*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
	color: #0033a0;
}

.btn-success{
	background-color: #00b140 !important;
	border-radius: 0;
	font-size: 130%;
	font-weight: 600;
	text-transform: uppercase;
}

.btn-success svg{
	font-size: 130%;
	position: relative;
	top: -3px;
}
/*------------------*/
/*1ST NAV PART*/
/*------------------*/

/*------------------*/
/*2ND NAV PART*/
/*------------------*/
.navbar-brand{
	font-size: 60px !important;
	font-weight: 700 !important;
	color: #0033a0 !important;
}

.nav-item{
	padding: 5px 10px !important;
	transition: all 0.2s;
}

.nav-item:hover{
	padding: 5px 10px !important;
	background-color: #0033a0 !important;
}

.nav-link{
	color: #000 !important;
	transition: all 0.2s;
}
.nav-link:hover{
	color: #fff !important;
}
.nav-link svg{
	font-size: 150%;
	color: #00b140;
}

/*------------------*/
/*CAROUSEL PART*/
/*------------------*/
.carousel-caption h5{
	font-size: 350%;
	font-weight: 600;
	text-align: left;
}
.carousel-caption p{
	color: #000;
	font-size: 130%;
	text-align: left;
}
.carousel_text_left{
	width: 500px;
	position: relative;
	left: 100px;
	bottom: 90px;
}
.carousel_text_left button{
	position: relative;
	left: -40px;
}
.carousel-top img{
	overflow: hidden;
    background-size: cover;
	width: 100%;
	height: 500px;
}
/*------------------*/
/*STORY PART*/
/*------------------*/
.story-top{
	background-color: #0033a0;
	color: #fff;
	margin-top: 5px;
	padding: 5px 8px;
	font-weight: 700; 
	display: inline-block;
}
.story-heading{
	font-weight: 700;
}
/*------------------*/
/*GREY AREA*/
/*------------------*/
.grey-area{
	padding: 30px 0;
}
.grey-area .col-8{
	padding-top: 30px;
}
/*------------------*/
/*PRESS HEADING*/
/*------------------*/
.card{
	border: none;
}
.press-heading{
	margin-top: 20px;
	font-weight: 650;
	font-size: 300%;
}
.press-body{
	font-size: 150%;
	font-weight: 600;
	color: #00b140;
}
.bg-blue{
	margin: 25px 0;
	padding: 40px 0;
	background-color: #0033a0;
}
.bg-blue h4,
.bg-blue h2{
	color: #fff;
	padding-bottom: 10px;
}
/*------------------*/
/*BLOG HEADING*/
/*------------------*/
.blog-heading{
	color: #00b140;
	font-weight: 650;
}
/*------------------*/
/*FORM*/
/*------------------*/
.form-area{
	background-image: url('https://www.cognizant.com/content/dam/cognizant_foundation/images/form_bg.jpg');
	background-size: cover;
	background-attachment: fixed;
	font-size: 110%;
}
.form-area h1{
	font-weight: 600;
	font-size: 290%;
}
.bold-text{
	font-weight: 700;
}
/*------------------*/
/*BEFORE FOOTER*/
/*------------------*/
.logos a{
	font-size: 200%;
	color: #00b140;
}
.sitemap-text a:hover{
	background-color: rgba(0,177,64,0.4);
	text-decoration: none;
}
/*------------------*/
/*FOOTER*/
/*------------------*/
.footer-size h4{
	font-size: 130%;
}
h4 a{
	color: #0033a0;
	transition: color 0.3s
}
h4 a:hover{
	color: #00b140;
	text-decoration: none;
}
li a{
	color: #000;
	transition: color 0.3s
}
li a:hover{
	text-decoration: none;
	color: #00b140;
}
.blue-color{
	color: #0033a0;
	font-weight: 500;
}