/*
blue: #0033a0
green: #00b140;
*/
/*--------------------*/
/*GLOBAL PART*/
/*--------------------*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
	color: #0033a0;
}
.cts-button{
	background-color: #00b140 !important;
	border-radius: 0;
	font-size: 130%;
	font-weight: 600;
	text-transform: uppercase;
}
.cts-button svg{
	font-size: 130%;
	position: relative;
	top: -3px;
}
.scroll-btn{
	position: fixed;
	top: 90%;
	left: 87%;
	background-color: #0033a0 !important;
}
.scroll-btn a{
	color: #fff;
	text-decoration: none;
}

@media only screen and (max-width: 480px){
	*{
		padding: 0 3px;
	}
	.carousel-image{
		height: 500px;
		width: 500px;
	}
	.carousel-text{
		font-size: 12px;
		position: relative;
		left: 25px;
	}
	.nav_1{
		display: none;
	}
	.cts-button{
		margin-bottom: 5px;
	}
	.scroll-btn{
		display: none;
	}
	.two-stories-first, .two-stories-second{
		margin-bottom: 10px;
	}
}
@media only screen and (max-width: 768px){
	*{
		padding: 0 3px;
	}
	.carousel-text{
		margin-left: -80px;
		margin-bottom: 80px;
	}
	.two-stories-first{
		padding-bottom: 10px !important;
	}
	.two-stories-second{
		padding-bottom: 27px !important;
	}
	.nav_1{
		display: none;
	}
	.scroll-btn{
		display: none;
	}
}
@media only screen and (max-width: 1024px){
	.two-stories-first{
		padding-bottom: 9px;
	}
	.two-stories-second{
		padding-bottom: 57px;
	}
}
@media only screen and (max-width: 1280px){
	.container{
		padding: -5px;
	}
}

/*------------------*/
/*1ST NAV PART*/
/*------------------*/
.css-sprite-world,
.css-sprite-search{
	display: inline-block;
	width: 20px;
	height: 20px;
	position: relative;
	top: 4px;
	background-image: url(../images/css_sprites.png);
	background-repeat: no-repeat;
	background-size: 40px 20px;
}
.css-sprite-world{
	background-position: 0 0;
}
.css-sprite-search{
	background-position: -20px 0;
}
/*------------------*/
/*2ND NAV PART*/
/*------------------*/
.brand-name{
	font-size: 60px;
	font-weight: 700;
	color: #0033a0 !important;
}

.items-navbar{
	padding: 5px 10px !important;
	transition: all 0.2s;
}

.items-navbar:hover{
	padding: 5px 10px !important;
	background-color: #0033a0 !important;
}

.link-navbar{
	color: #000 !important;
	transition: all 0.2s;
}
.link-navbar:hover{
	color: #fff !important;
	background-color: #0033a0;
}
.link-navbar svg{
	font-size: 150%;
	color: #00b140;
}

/*------------------*/
/*CAROUSEL PART*/
/*------------------*/
.carousel-text h1{
	font-size: 350%;
	font-weight: 600;
	text-align: left;/*in media*/
}
.carousel-text p{
	color: #000 !important;
	font-size: 130%;
	text-align: left;/*in media*/
}

.carousel-top img{
	overflow: hidden;
	width: 100%;
	height: 550px;
}
/*------------------*/
/*STORY PART*/
/*------------------*/
.story-top{
	background-color: #0033a0;
	color: #fff;
	margin-top: 5px;
	padding: 5px 8px;
	font-weight: 700; 
	display: inline-block;
}
.story-heading{
	font-weight: 700;
}
/*.two-stories-first,..two-stories-second{
	padding: 0;
}*/
/*------------------*/
/*GREY AREA*/
/*------------------*/
.grey-area{
	padding: 30px 0;
}
.grey-area .col-8{
	padding-top: 30px;
}
/*------------------*/
/*PRESS HEADING*/
/*------------------*/
@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateY(200%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
.card{
	border: none;
}
.press-heading{
	margin-top: 20px;
	font-weight: 650;
	font-size: 300%;
}
.press-body{
	font-size: 150%;
	font-weight: 600;
	color: #00b140;
}
.bg-blue{
	animation-name: fadeIn;
	animation-duration: 1s;
	margin: 25px 0;
	padding: 40px 0;
	background-color: #0033a0;
}
.bg-blue h4,
.bg-blue h2{
	color: #fff;
	padding-bottom: 10px;
}
/*------------------*/
/*BLOG HEADING*/
/*------------------*/
.blog-heading{
	color: #00b140;
	font-weight: 650;
}
/*------------------*/
/*FORM*/
/*------------------*/
.form-area{
	background-image: url('https://www.cognizant.com/content/dam/cognizant_foundation/images/form_bg.jpg');
	background-size: cover;
	background-attachment: fixed;
	font-size: 110%;
}
.form-area h1{
	font-weight: 600;
	font-size: 290%;
}
.bold-text{
	font-weight: 700;
}
/*------------------*/
/*BEFORE FOOTER*/
/*------------------*/
.logos a{
	font-size: 200%;
	color: #00b140;
}
.sitemap-text a:hover{
	background-color: rgba(0,177,64,0.4);
	text-decoration: none;
}
/*------------------*/
/*FOOTER*/
/*------------------*/
.footer-size h4{
	font-size: 130%;
}
h4 a{
	color: #0033a0;
	transition: color 0.3s
}
h4 a:hover{
	color: #00b140;
	text-decoration: none;
}
li a{
	color: #000;
	transition: color 0.3s
}
li a:hover{
	text-decoration: none;
	color: #00b140;
}
.blue-color{
	color: #0033a0;
	font-weight: 500;
}